<section class="login-section">
    <div class="login-container">
        <h1>Se connecter</h1>
        <form method="post">
            <div class="login-input">
                <label for="login-username">Nom d'utilisateur</label>
                <input type="text" id="login-username" name="username">
            </div>

            <div class="login-input">
                <label for="login-password">Mot de passe</label>
                <input type="text" id="login-password" name="password">
            </div>

            <button>Se connecter</button>
        </form>
    </div>
</section>