<section class="contact-page">

    {{#if error}}
        <h3>{{error}}</h3>
    {{/if}}

    <form class="formulaireContact" method="post">
        <h2>Contactez nous ici</h2>

        <div>
            <label for="email">Adresse E-Mail *</label>
            <input id="email" name="email" type="email">
        </div>

        <div>
            <label for="username">Pseudonyme</label>
            <input id="username" name="username" type="text">
        </div>

        <div>      
            <label for="categorie">Catégorie *</label>
            <select name="categorie" id="categorie">
                <option value="info">Info</option>
                <option value="devis">Devis</option>
                <option value="reclamation">Reclamation</option>
                <option value="autre">Autres</option>
            </select>
        </div>  

        <div>
            <label for="message">Votre message *</label>
            <textarea name="message" id="message"></textarea>
        </div>

        <button type="submit">Envoyer</button>
    </form>
</section>