<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styleLayout.css">
    <link rel="stylesheet" href="/styles/styleIndex.css">
    <link rel="stylesheet" href="/styles/styleDetail.css">
    <link rel="stylesheet" href="/styles/styleContact.css">
    <link rel="stylesheet" href="/styles/styleProduct.css">
    <link rel="stylesheet" href="/styles/stylePanier.css">
    <script src="/scripts/index.js" defer></script>
    <script src="/scripts/{{script}}" defer></script>
</head>
<body>
    <header>
        <h1><a href="/">Tech Market</a></h1>
        <nav>
            <a href="/">Accueil</a>
            <a href="/product">Produits</a>
            <a href="/">A Propos</a>
            <a href="/contact">Contact</a>
            {{#if session.isConnected}}
            {{#if session.isAdmin}}
            <a href="/product/addProduct">Ajouter un produit</a>
            {{/if}}
            <a href="/logout">Se deconnecter</a>
            {{else}}
            <a href="/login">Se connecter</a>
            <a href="/register">S'inscrire</a>
            {{/if}}
            <a href="/panier"><img src="/images/panier.png" alt="Image of cart"></a>
        </nav>
    </header>
    <div class="main-content">
        {{{body}}}
    </div>
    <footer>
        © 2025 Tech Market - Tous droits réservés | <a href="/-">Mentions légales</a>
    </footer>
</body>
</html>