<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styleLayout.css">
    <link rel="stylesheet" href="/styles/styleIndex.css">
    <link rel="stylesheet" href="/styles/styleDetail.css">
    <script src="/scripts/index.js" defer></script>
</head>
<body>
    <header>
        <h1>Tech Market</h1>
        <nav>
            <a href="/">Accueil</a>
            <a href="/product">Produits</a>
            <a href="/">A Propos</a>
            <a href="/">Contact</a>
            <a href="/"><img src="/images/panier.png" alt="Image of cart"></a>
        </nav>
    </header>
    {{{body}}}
    <footer>
        © 2025 Tech Market - Tous droits réservés | <a href="/-">Mentions légales</a>
    </footer>
</body>
</html>