<section class="index">
    <div class="welcome">
        <h2>Bienvenu sur Tech Market ! Votre Destination High-Tech !</h2>
        <p>
            Découvrez les dernières innovations technologiques au meilleur prix ! <br> Chez Tech Market, nous sélectionnons pour vous 
            les meilleurs produits high-tech : smartphones, ordinateurs, accessoires gaming et bien plus encore. 
            Que vous soyez passionné de nouvelles technologies ou à la recherche d’un équipement performant, 
            vous trouverez ici ce qu’il vous faut. <br> <br>
            <span>💻 Produits de qualité – 🔥 Offres imbattables – 🚀 Livraison rapide </span> <br> <br>
            Faites votre shopping en toute confiance et rejoignez la communauté Tech Market dès aujourd’hui ! 🛒
        </p>
    </div>

    <div class="day-product">
        <h2>Selection aleatoire de 3 de nos produits, peut-être que vous trouverez votre bonheur !</h2>

        <div class="products-container">
            {{#each dayProducts}}
                <div class="product">
                    <h3>{{this.name}}</h3>
                    <div class="image">
                        <img src="{{this.image}}" alt="">
                    </div>
                    <p>{{this.price}}€</p>
                </div>
            {{/each}}
        </div>

        <h3><a href="/product">Voir tout nos produits ici</a></h3>
    </div>
</section>