.welcome {
    margin-bottom: 2em;
    width: 60%;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    
    h2 {
        margin-top: 1em;    
        font-size: xx-large;
        font-weight: 800;
        color: #2c3e50;
    }

    p {
        font-size: large;
        color: #34495e;
    }

    span {
        font-weight: 800;
        border: 2px solid #d35400;
        border-radius: 10px;
        padding: 0.5em;
        background: rgba(211, 84, 0, 0.1);
        transition: 0.3s ease-in-out;
    }

    span:hover {
        background: #d35400;
        color: white;
    }
}

.day-product {
    width: 60%;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;

    h3 {
        margin-bottom: 2em;
        
        a {
            padding: 0.5em;
            border: 2px solid #d35400;
            border-radius: 5px;
            background: linear-gradient(90deg, #f39c12 15%, #d4ac0d 50%, #d35400 100%);
            transition: all 0.3s ease-in-out;
            color: white;
            font-weight: bold;
        }

        a:hover {
            background: #e74c3c;
            transform: scale(1.1);
        }
    }
}

.products-container {
    display: flex;
    gap: 1.5em;
    flex-wrap: wrap;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.5em;
    border: 2px solid #e67e22;
    padding: 0.8em;
    border-radius: 15px;
    width: 140px;
    height: 220px;
    background: #fffaf0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    }

    .image {
        width: 90px;
        height: 60px;
        border: 1px solid #d35400;
        border-radius: 10px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);

        img {
            width: 80%;
            height: 80%;
            object-fit: contain;
        }
    }
}
