.index {
    background: linear-gradient(to right, #b68633, #f0cb35);
}

.welcome {
    margin-bottom: 2em;
    width: 60%;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    
    h2 {
        font-size: xx-large;
        font-weight: 800;
    }

    p {
        font-size: large;
    }

    span {
        font-weight: 800;
        border: 2px solid black;
        border-radius: 10px;
        padding: 0.5em;
    }
}

.day-product {
    width: 60%;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;

    h3 {
        a {
            padding: 0.5em;
            border: 2px solid black;
            border-radius: 5px;
            background: linear-gradient(90deg, rgba(252,176,69,1) 15%, rgba(204,210,94,1) 50%, rgb(198, 114, 6) 100%);
            transition: 0.2s ease-in-out;

            &:hover {
                background: #e45315;
                transform: scale(1.2);
            }
        }
        margin-bottom: 2em;
    }
}

.products-container {
    display: flex;
    gap: 1em;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.5em;
    border: 2px solid rgb(255, 132, 0);
    padding: 0.5em;
    border-radius: 15px;
    width: 125px;
    .image {
        width: 80px;
        height: 50px;
        border: 1px solid black;
        border-radius: 10px;
        background-color: #fff;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}